@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .form {
    @apply w-sm border border-gray-300 rounded-2xl p-6 mt-16 mb-16  mx-auto shadow-lg;
  }

  .label {
    @apply block mb-1 text-sm
  }

  .input {
    @apply block border-gray-300 border-2 rounded-lg w-full mb-1 h-[32px] pl-2;
  }

  .error-text {
    @apply text-red-500 text-xs mb-4 tracking-wider pl-1;
  }

  .form-btn {
    @apply bg-[#1EA095] w-full text-sm text-white h-[32px] rounded-lg my-2;
  }
}